.user_input{
    display: flex;
    justify-content: center;
}

input{
    margin-left: 35px;
    padding: 10px 10px 10px 10px;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 3px grey;
}

label{
    font-size: 25px;
    font-style: oblique;
    font-family:bouquet;
    font-weight: bold;
}